* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'righteous', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3232cdf5;
}

.card {
    width: 8vw;
    height: 16vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    
}

.cardBack,
.cardFront {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 45);
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
}

.cardFront {
    transform: rotateY(180deg);
    background-color: #101c2c;

}

.cardBack {
    color: #101c2c;
    background-color: #05c3ff;
    font-size: 30px;
}

.flip {
    transform: rotateY(180deg);
}


.gameBoard {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 1.5vw;

}



.gameover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0px;
}

.restart {
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border-radius: 10px;
    margin-top: 3vw;
    cursor: pointer;
}

.cardFront img {
    width: 90%;
    height: auto;
    max-height: 90%;
    user-select: none;
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
    .gameBoard {
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5vw;
        padding: 2vw;
        height: 90vh;
    }

}

/* Responsividade para celulares */
@media (max-width: 600px) {
    .gameBoard {
        grid-template-columns: repeat(4, 1fr);
        gap: 1vw;
        padding: 2vw;
        height: 90vh;
    }

    .card {
        width: 100%;
        aspect-ratio: 2 / 3;
    }

    .gameover {
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }

    .restart {
        font-size: 16px;
        padding: 12px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .gameBoard {
        grid-template-columns: repeat(5, 1fr);
        gap: 1vw;
        padding: 2vw;
        height: 90vh;
    }

    .card {
        width: 100%;
        aspect-ratio: 3 / 4;
    }

    .cardFront img {
        width: 60%;
        max-height: 60%;
    }
}
